//- Все примеси в этом файле должны начинаться c имени блока (news)

mixin news(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +news('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' news--' + modsList[i].trim();
      }
    }

  .news(class=allMods)&attributes(attributes)
    .news__inner!= text
      h2.news__title Новости
      .news__items
        block

mixin news-item(href, src, date, mods)

  //- Принимает:
  //-   text   {string} - содержимое пункта
  //-   href   {string} - ссылка этого пункта (если пустая, то это не ссылка, а span)
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
      var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          allMods = allMods + ' socials--' + modsList[i].trim();
        }
      }

  a.news__item(class=allMods, href=href)&attributes(attributes)!= text
    img.news__img(src=src)
    block
    .news__date(datetime="2018-08-07")= date
