//- Все примеси в этом файле должны начинаться c имени блока (card)

mixin card(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +retated-products('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card__item--' + modsList[i].trim();
      }
    }

  .card(class=allMods)
    block

mixin card-label (mods)

  //- Принимает:
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card__label--' + modsList[i].trim();
      }
    }

  span.card__label(class=allMods, href=href)&attributes(attributes) sale

mixin card-img (src, mods)

  //- Принимает:
  //-   src   {string} - ссылка на изображение
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
       allMods = allMods + ' card__img--' + modsList[i].trim();
      }
    }

  .card__slider.owl-carousel
    div.card__slider-item
      a.card__img-wrap
        img.card__img(class=allMods, src='img/new-1.jpg' alt="")&attributes(attributes)
    div.card__slider-item
      img.card__img(class=allMods, src='img/new-2.jpg' alt="")&attributes(attributes)
    div.card__slider-item
      img.card__img(class=allMods, src='img/new-3.jpg' alt="")&attributes(attributes)

mixin card-content(title, href, subtitle, price, mods)

  //- Принимает:
  //-   title   {string} - заголовок карточки
  //-   href   {string} - ссылка этого пункта
  //-   subtitle   {string} - подзаголовок карточки
  //-   price   {string} - цена
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card__content--' + modsList[i].trim();
      }
    }

  .card__content(class=allMods)
    a.card__item-title(href=href)= title
    .card__item-subtitle= subtitle
    block

mixin card-price-block(price, mods, priceOld)

  //- Принимает:
  //-   price   {string} - цена
  //-   priceOld   {string} - старая цена, если есть
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card__price-block--' + modsList[i].trim();
      }
    }

  .card__price-block(class=allMods)

    if (typeof(priceOld) !== 'undefined' && priceOld)
      span.card__price= price
        span.b-rub &nbsp;Ь
      span.card__price--old= priceOld
        span.b-rub &nbsp;Ь
    else
      span.card__price= price
        span.b-rub &nbsp;Ь
