//- Все примеси в этом файле должны начинаться c имени блока (new)

mixin new(mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' new--' + modsList[i].trim();
      }
    }

  section.new(class=allMods)&attributes(attributes)
    block

mixin new-item(mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' new--' + modsList[i].trim();
      }
    }

  .new-item(class=allMods)&attributes(attributes)
    block

mixin new-item-img (href, src, mods)

  //- Принимает:
  //-   text   {string} - содержимое пункта
  //-   href   {string} - ссылка этого пункта (если пустая, то это не ссылка, а span)
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
      var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          allMods = allMods + ' socials--' + modsList[i].trim();
        }
      }

  a.new-item__img-wrap(class=allMods, href=href)&attributes(attributes)
    img.new-item__img(class=allMods, src=src)&attributes(attributes)

mixin new-item-content(title, subtitle, price, mods)

  //- Принимает:
  //-   text   {string} - содержимое пункта
  //-   href   {string} - ссылка этого пункта (если пустая, то это не ссылка, а span)
  //-   mods   {string} - список модификаторов
  -
    // список модификаторов
      var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          allMods = allMods + ' socials--' + modsList[i].trim();
        }
      }

  .new-item__content
    .new-item__title= title
    .new-item__subtitle= subtitle
    block
    .new-item__price= price
      span.b-rub Ь
